
  .custom-list {
    list-style: none; /* Removes the default bullets */
    padding-left: 0;
  }

  .custom-list li {
    position: relative;
    padding-left: 2rem; /* Adds space for the icon */
    background-image: url('assets/icons/checklist.svg'); /* Replace with the path to your custom icon */
    background-repeat: no-repeat;
    background-position: 0 0.2rem; /* Adjusts the icon position */
    background-size: 1rem 1rem; /* Adjust the size of the icon */
    margin-bottom: 0.5rem; /* Adds spacing between list items */
  }

  
    .container-left {
      margin-right: auto; /* Make right side fluid */
      max-width: 50%; /* Adjust the percentage to control the container width */
    }
    .testimonial {
      text-align: center;
      padding: 30px;
      background-color: #f8f9fa;
      border-radius: 5px;
    }
    .testimonial h5 {
      margin-top: 20px;
      font-weight: bold;
    }
    .testimonial p {
      font-style: italic;
    }

    ul {
      list-style-type: none; /* Hides the list icon (bullet points) */
      padding: 0; /* Removes the default left padding */
    }

    li {
      margin: 10px 0; /* Adds spacing between the items */
    }

    .brand-p-color{
      background-color: #091B6F;;
    }

    .carousel-control-prev-icon {
      background-image: url(assets/icons/Left-button.png);
  }

  .carousel-control-next-icon {
    background-image: url(assets/icons/Right-button.png);

}

.navbar-brand {
  
  color: #0D28A6;
  background-color: #0D28A6;

}